<p id="notice"><%= notice %></p>

<h1>Welcome to Android ng Bayan, Inc.</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Year Released</th>
      <th>Camera</th>
      <th>Mega Pixel</th>
      <th>Internal Storage</th>
      <th>Simslots</th>
      <th>Screen Size</th>
      <th>OS</th>
      <th># in Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mobiles.each do |mobile| %>
      <tr>
        <% if mobile.stock_num != 0%>
        <td><%= mobile.name %></td>
        <td><%= mobile.brand %></td>
        <td><%= mobile.year_released %></td>
        <td><%= mobile.camera %></td>
        <td><%= mobile.mpixel %></td>
        <td><%= mobile.internalstorage %></td>
        <td><%= mobile.simslots %></td>
        <td><%= mobile.screen_size %></td>
        <td><%= mobile.os %></td>
        <td><%= mobile.stock_num %></td>
        <td><%= link_to 'Show', mobile %></td>
        <td><%= link_to 'Edit', edit_mobile_path(mobile) %></td>
        <td><%= link_to 'Destroy', mobile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href = "http://localhost:3000/mobiles/decrement_stock/<%=mobile.id%>">Sold One</a></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobile', new_mobile_path %>
